recursive-include soothsayer/io/data_type/ *.py
recursive-include soothsayer/feature_extraction/algorithms/ *.py
recursive-include soothsayer/r_wrappers/packages/ *.py
recursive-include soothsayer/tests/data/ *.py
include soothsayer/db/*
include soothsayer/db/Archaea_76/*
include soothsayer/db/Bacteria_71/*
include soothsayer/db/Protista_83/*
include soothsayer/db/Ribosomal_RNAs/*

recursive-exclude releases/ *.tar.gz
global-exclude *.py[cod] __pycache__
